<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="shortcut icon" href="http://in.bookmyshow.com/favicon.ico" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
		<script src="https://fb.me/react-0.13.1.js"></script>
		<script src="https://fb.me/JSXTransformer-0.13.1.js"></script>
	</head>
	<body>
		<div class="logo">
			<img src="images/bmsLogo.png" width="400px" height="150px" />
		</div>
		<% if(typeof flashMessage != 'undefined'){ %>
			<div class="flashMessage <%= type %>">
				<p><%= flashMessage %></p>
			</div>
		<% } %>
		<div id="content">
		</div>
	</body>
	<script type="text/jsx" src="javascripts/script.js">
	
	</script>
</html>